@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CorpGames;
  src: url("/fonts/corp_games.otf") format("opentype");
}

@layer base {
  html,
  body {
    @apply font-sans;
    @apply selection:bg-pink-700/50 selection:dark:bg-pink-900/50;
    @apply subpixel-antialiased;
    @apply overflow-hidden;
    @apply bg-white;
    @apply dark:bg-black;
  }
}

@layer components {
  .navbar-bg {
    @apply absolute;
    @apply left-0;
    @apply right-0;
    @apply top-0;
    @apply bottom-0;
    @apply -z-10;
    @apply shadow-none;
    @apply dark:shadow-md;
    @apply backdrop-blur-sm;
    @apply dark:backdrop-blur-sm;
    @apply dark:bg-black/40;
    @apply bg-navbar_light;
    @apply dark:bg-navbar_dark;
    background-size: 4px 4px;
  }
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div:first-child {
  height: 100%;
}

div#__next {
  position: relative;
}

.bg-yellow-600 {
  background-color: rgb(202 138 4);
}

.bg-yellow-500 {
  background-color: rgb(234 179 8);
}

.sb-main-fullscreen {
  overflow: auto !important;
}