@import "breakpoints";
@import "constants";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  //overflow-y: hidden;
  background-color: var(--background-color);
}
