@import "breakpoints";

.content_home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  overflow-y: auto;

  @include sm {
    width: 550px;
    flex-direction: row;
    .workspaces {
      &__wrapper {
        .workspace {
          height: 140px;
          width: 240px;
        }
      }
    }
    .buttons {
      max-width: 240px;
      padding: 0;
      height: 100%;
    }
  }

  @include md {
    width: 700px;
    flex-direction: row;
    .workspaces {
      &__wrapper {
        .workspace {
          height: 180px;
          width: 45%;
        }
      }
    }
    .buttons {
      max-width: 240px;
      padding: 0;
      height: 100%;
    }
  }

  @include lg {
    width: 800px;
    .buttons {
      height: 100%;
      max-width: 240px;
      padding: 0;
    }
  }

  @include xl {
    width: 90%;
    max-width: 1600px;
    .buttons {
      height: 100%;
      max-width: 240px;
      padding: 0;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 180px;
  }

  .workspaces {
    height: 100%;
    width: 90%;

    @include md {
      height: 100%;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-bottom: 24px;
      padding-bottom: 24px;
      margin-top: 24px;
      .content {
        display: flex;
        flex-wrap: wrap;

        .workspace {
          display: flex;
          position: relative;
          background-color: white;
          border-radius: 8px;
          border-width: 4px;
          border-style: solid;
          border-color: $primary_color;
          margin-right: 8px;
          margin-bottom: 8px;
          text-decoration: none;
          align-items: flex-end;

          height: 140px;
          width: 240px;
          min-width: 150px;

          .footer {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 30%;
            bottom: 0;
            color: $primary_color;
            .title {
              font-size: 1.5em;
              font-weight: 600;
            }
          }
          .deleteWorkspace {
            position: absolute;
            bottom: 8px;
            right: 8px;
            width: 48px;
            height: 48px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &:hover {
              //background-color: blue;
            }
          }
          .fav {
            position: absolute;
            width: 64px;
            height: 64px;
            top: 0;
            right: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
            z-index: 2;
          }
        }
      }
      .title {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 8px;
        &__title {
          margin-left: 16px;
          font-size: 1.4em;
          font-weight: 500;
          /*
          border-right-style: solid;
          border-right-width: 1px;
          border-right-color: $primary_color;
          padding-right: 16px;
          */
        }
        &__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
          border-radius: 96px;
          background-color: $primary_color;
        }
      }
    }
  }
}

.navContainer {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: $primary_color;
  &__buttons {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}

.createWorkspaceContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 998;
    .alert {
      width: 50%;
      position: relative;
      min-width: 380px;
      background-color: $primary_color;
      border-radius: 12px;
      padding: 24px;

      @include sm {
        min-width: 500px;
        //padding-left: 24px;
        //padding-right: 24px;
      }

      @include lg {
        min-width: 580px;
        //padding-left: 32px;
        //padding-right: 32px;
      }

      .title {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6em;
        height: 25%;
        color: white;
        width: 100%;
        border-bottom: 1px solid white;
        padding-bottom: 18px;
        .closeButton {
          background-color: transparent;
          border: none;
          cursor: pointer;
          &:hover {
            svg {
              opacity: 0.5;
            }
          }
        }
      }
      .body {
        width: 100%;
        margin-top: 16px;
        .inputContainer {
          display: flex;
          flex-direction: column;
          margin-bottom: 24px;
          h1 {
            font-size: 1.2em;
            color: white;
          }
          .errorMsg {
            color: $error_red;
            margin-top: 12px;
          }
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  .overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 997;
  }
}

.registerAlertContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  .errorMsg {
    color: $error_red;
    margin-top: 16px;
    font-size: 0.75em;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 998;
    .alert {
      width: 50%;
      position: relative;
      min-width: 380px;
      background-color: $primary_color;
      border-radius: 12px;
      //padding-left: 16px;
      //padding-right: 16px;
      //padding-top: 32px;

      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

      @include sm {
        min-width: 500px;
        //padding-left: 24px;
        //padding-right: 24px;
      }

      @include lg {
        min-width: 580px;
        //padding-left: 32px;
        //padding-right: 32px;
      }

      .title {
        display: flex;
        position: relative;
        align-items: center;
        font-size: 1.6em;
        height: 25%;
        color: white;
        padding: 24px;
      }

      .body {
        display: flex;
        flex-direction: column;
        height: 50%;
        color: white;
        font-size: 1.4em;
        padding: 24px;
      }

      .buttons {
        display: flex;
        width: 100%;
        height: 25%;
        align-items: center;
        padding-bottom: 24px;
      }
    }
  }
  .overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 997;
  }
}
