@import "constants";

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-reverse);
  font-size: 1.2em;
  height: 60px;
  background-color: var(--button-bg-color);
  border: none;
  text-decoration: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:active {
    transform: scale(0.97, 0.97);
  }
}

.button {
  @include button();

  &:hover {
    background-color: var(--button-hover-color);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  svg {
    fill: var(--text-color-reverse);
  }

  .text {
    color: var(--text-color-reverse);
  }

  .text__reversed {
    color: var(--text-color-reverse);
  }

  &__reversed {
    @include button();
    color: var(--text-color);

    svg {
      fill: var(--text-color);
    }

    background-color: var(--button-bg-color-reverse);
    border-style: solid;
    border-width: 4px;
    border-color: var(--button-bg-color);
    height: 60px;

    &:hover {
      background-color: var(--button-hover-reverse);
      transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    }
  }
}
