@import "breakpoints";
@import "constants";

.content_profile {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;

  @include md {
    width: 700px;
  }

  @include lg {
    width: 800px;
  }

  .errorFindUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    h1 {
      font-size: 1.5em;
      font-weight: 500;
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 0;

    @include md {
    }

    @include lg {
    }

    .header {
      display: flex;
      width: 100%;
      height: 180px;
      background-color: $primary_color;
      border-radius: 0;

      @include md {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }

      @include lg {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }

      .avatarSide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        min-width: 120px;
        height: 100%;

        @include sm {
          min-width: 200px;
        }
        img {
          object-fit: cover;
          border-radius: 128px;
          border: 2px solid gray;
          padding: 2px;
          width: 96px;
          height: 96px;

          @include sm {
            width: 128px;
            height: 128px;
          }
        }
      }
      .errorMsg {
        color: $error_red;
        margin-top: 4px;
      }
      .usernameSide {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 32px;
        form {
          display: flex;
          flex-direction: column;
          height: 100%;
          .fullname {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            h1 {
              font-size: 1.4em;
              @include md {
                font-size: 1.8em;
              }
              font-weight: 500;
              color: white;
            }
          }
          .username {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            padding-bottom: 24px;
            h1 {
              font-size: 1em;
              @include md {
                font-size: 1.2em;
              }
              font-weight: 500;
              color: white;
            }
          }
        }
      }
    }
  }
}
