@import "breakpoints";
@import "constants";

.content_paac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 840px;
  width: 96%;

  @include sm {
    width: 550px;
  }

  @include lg {
    width: 600px;
    margin: 0;
  }

  @include lg {
    width: 650px;
    margin: 0;
  }

  .paac {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: var(--elevation-color);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 24px;
    .details {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 1.7rem;
        color: var(--text-color);
      }
      span {
        color: var(--text-color);
        margin-top: 12px;
      }
    }
    form {
      .errorMsg {
        color: $error_red;
        margin-top: 16px;
      }
    }
  }
}
