@import "breakpoints";
@import "constants";

.content_signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 840px;
  width: 96%;
  margin: 12px;

  @include sm {
    width: 550px;
    margin: 0;
  }

  @include lg {
    width: 600px;
    margin: 0;
  }

  @include lg {
    width: 650px;
    margin: 0;
  }

  .signup {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $primary_color;
    border-radius: 12px;
    box-sizing: border-box;

    form {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 24px;
      .errorMsg {
        color: $error_red;
        margin-top: 16px;
      }
    }

    h1 {
      font-size: 1.7rem;
      color: white;
      margin-top: 24px;
    }
  }

  .login {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    font-size: 1.2em;
    a {
      color: #3374ff;
      cursor: pointer;
      font-weight: 500;
    }
  }
}
