@import "breakpoints";
@import "constants";

.todo {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  padding: 12px;
  border-radius: 8px;
  justify-content: space-between;
  margin-bottom: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 10;
  .editingCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    h1 {
      font-size: 1.2em;
      color: var(--text-color);
    }
    select {
      padding: 12px;
      margin-top: 8px;
      background-color: var(--background-color);
      border-radius: 6px;
      color: var(--text-color);
      border-color: var(--input-border);
      outline: none;
    }
    .color {
      width: 8px;
      height: 8px;
      border-radius: 32px;
      margin-left: 16px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      svg {
        fill: var(--text-color);
      }
      h1 {
        font-size: 1.2em;
        word-wrap: break-word;
        color: var(--text-color);
      }
    }
    .desc {
      display: flex;
      margin-top: 8px;
      line-break: anywhere;
      flex-wrap: wrap;
      color: var(--text-color);
    }
  }
  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex: 20;
    .more {
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: calc(100% + 12px);
      background-color: var(--background-color);
      border: 2px solid var(--elevation-color);
      padding: 8px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--elevation-color);
        border: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 8px;
        svg {
          fill: var(--text-color-reverse);
        }
        &:not(:first-child) {
          margin-left: 8px;
        }
        &:hover {
          background-color: var(--button-hover-reverse);
          transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
          transform: scale(0.95, 0.95);
          svg {
            fill: var(--text-color);
          }
        }
        &:active {
          transform: scale(0.9, 0.9);
        }
      }
    }
    .color {
      width: 8px;
      height: 8px;
      border-radius: 32px;
    }
    .control {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-left: 4px;
      background-color: var(--background-color);
      border: none;
      cursor: pointer;
      border-radius: 8px;
      svg {
        fill: var(--text-color);
      }
      &:hover {
        background-color: var(--button-hover-reverse);
        transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
        transform: scale(0.95, 0.95);
      }
      &:active {
        transform: scale(0.9, 0.9);
      }
      &:last-of-type {
        margin-left: 4px;
      }
    }
  }
}
