@import "breakpoints";
@import "constants";

.content_about {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  width: 90%;

  @include md {
    flex-direction: row;
  }

  .aboutContainer {
    width: 100%;
    padding-left: 0;
    margin-top: 24px;
    @include md {
      padding-left: 24px;
      margin-top: 0;
      width: 75%;
    }
  }

  @include sm {
    width: 550px;
  }

  @include md {
    width: 750px;
  }

  @include lg {
    width: 95%;
    max-width: 1400px;
  }

  .nav {
    //argin-bottom: 24px;
    width: 100%;
    @include md {
      width: 25%;
      position: sticky;
      top: 0;
    }
  }

  .aboutTitle {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    h1 {
      font-size: 2em;
      font-weight: 600;
      color: var(--text-color);
    }
  }

  .aboutDesc {
    margin-top: 24px;
    border-bottom: 1px solid $primary_color;
    padding-bottom: 32px;
    p {
      font-size: 1.4em;
      color: var(--text-color);
    }
    a {
      color: var(--link-color);
      text-decoration: none;
    }
  }

  .section {
    width: 100%;
    margin-top: 32px;
    border-bottom: 1px solid $primary_color;
    padding-bottom: 32px;
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        background-color: var(--elevation-color);
        border-radius: 32px;
        width: 32px;
        height: 32px;
        margin-right: 16px;
      }
      h1 {
        font-size: 2em;
        font-weight: 500;
        color: var(--text-color);
      }
    }
    .desc {
      width: 100%;
      margin-top: 16px;
      p {
        font-size: 1.4em;
        color: $primary_color;
        color: var(--text-color);
      }
      b {
        font-weight: 600;
      }
      a {
        color: var(--link-color);
        text-decoration: none;
      }
    }
  }
}
